@import './variables.scss';

#root {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $dark-two;
}

.main {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-main {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}