@import './variables.scss';

.person-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .person {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        border: 2px solid $light-one;
        border-radius: $border-radius;
        margin-bottom: 5px;
        padding: 5px;
        background-color: $medium;
    
        cursor: pointer;

        &:last-child {
            margin-bottom: unset;
        }
        &:first-child {
            margin-top: 15px;
        }
        
        .person-img {
            border-radius: 50%;
        }
    }
}