// $light-one: #ece0d1;
// $light-two: #dbc1ac;

// $medium: #967259;

// $dark-one: #634832;
// $dark-two: #38220f;

$light-one: #ffffff;
$light-two: #d9d9d9;

$medium: #3c6e71;

$dark-one: #284b63;
$dark-two: #353535;

$border-radius: 8px;